.int-img {
  max-height: 55%;
  max-width: 55%;
  top: 50%;
  margin: 0 auto;
  padding-top:10%;
  display: block;
}

.int-img2 {
  padding-top: 9%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: 600px;
    width: 100%;
}

.carousel-inner > .item {
    margin: 0 auto;
    height: 600px;
    width: 100%;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: #373845;
}
