<div class="Aligner">
  <div class="Aligner-item main-card">
    <div class="container-fluid landing-container">
      <div class="row">
        <div class="col-md-4">
          <img alt="" src="./../assets/images/bmac2.png" height="100%" width="100%">
        </div>
        <article class="col-md-8 align-left landing-welcome">
          <h1>Hello!</h1>
          <h1>My name is Brandon,</h1>
          <h1>I'm a CS student at <span><img alt="Brand" src="./assets/images/SMUcollegiateRrgb.png" height="10%" width="20%" class="smu-image"></span>.</h1>
        </article>
    </div>
    <section class="row w-300 landing-row-2">
        <h6>Having been born to two technologists, and raised in Austin, Texas,
          technology has always played an important role in my life — computers
          in particular and, more specifically, software. When I think about software
          I think about Winston Churchill who said “To improve is to change; to be perfect
          is to change often.” It’s my goal to find those rare instances in which
          software can effectively be used as a lever to actively deliver value to
          the word and in which I have the passion to develop and maintain that software.</h6>
  </section>
  </div>
</div>
