<main>
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">
      <img alt="Brand" src="./assets/images/folio-logo.png" height="50px" width="50px">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <header class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link center-text" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link center-text" href="/interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link center-text" href="/courses">Coursework</a>
        </li>
        <li class="nav-item">
          <a class="nav-link center-text" href="/contact">Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
    </header>
  </nav>

  <footer class="footer">
    <div class="container">
      <!-- <span>&copy; 2018 Brandon McFarland</span> -->
      <!-- <span>Made with HEART by Brandon McFarland</span> -->
      <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        Made with <i class="icon ion-heart"></i> by Brandon McFarland
    </div>
  </footer>


  <router-outlet></router-outlet>
</main>
