<div class="Aligner">
  <div class="Aligner-item main-card courses-card">
    <table class="table interest-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col" class="class-number">Course Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Assembly Language and Machine Organization</td>
          <td class="class-number">2240</td>
        </tr>
        <tr>
          <td>Data Structures</td>
          <td class="class-number">2341</td>
        </tr>
        <tr>
          <td>Discrete Computational Structures</td>
          <td class="class-number">2353</td>
        </tr>
        <tr>
          <td>Graphical User Interfaces</td>
          <td class="class-number">3345</td>
        </tr>
        <tr>
          <td>Fundamentals of Algorithms</td>
          <td class="class-number">3353</td>
        </tr>
        <tr>
          <td>Statistical Methods for Engineers</td>
          <td class="class-number">4340</td>
        </tr>
        <tr>
          <td>Computer Networks and Distributed Systems</td>
          <td class="class-number">4344</td>
        </tr>
        <tr>
          <td>Digital Computer Design</td>
          <td class="class-number">4381</td>
        </tr>
      </tbody>
      </table>

  </div>
</div>
